body{
    font-family: 'Courier New', Courier, monospace;
    height: 75vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 94, 0);
    display: flex;
}

.container{
    background-color: whitesmoke;
    width: 600px;
    padding-top: 50px;
    padding: 30px;
    box-shadow: 0px 2px 16px rgba(0,0,0,.1);
    border-radius: 20px;
}

.tabContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgba(0,0,0,.1);
}

.tabContainer .tabBtn{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
    border: 2px solid transparent;
    color: grey;
    padding: 18px;
    cursor: pointer;
}

.contentBox{
    padding: 20px;
}

.contentBox .content h2{
    display: none;
    margin-bottom: 10px;
}

.content {
    display: none;
}

.content.active {
    display: block;
    justify-content: center;
    text-align: justify;
}

.tabBtn.active {
    font-weight: bold;
    color: black;
    border: 2px solid black;
    border-width: medium;
}

.tabBtn:hover {
    font-weight: bold;
    color: grey;
    border: 2px solid grey;
    border-width: medium;
}

.searchBar {
    height: 50px;
    width: 100%;    
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    background-color: blanchedalmond;
    outline: 2px solid black;
    
}

.searchBar input{
    background-color: transparent;
    flex: 1;
    border: 0;
    padding: 24px 20px;
    font-size: 20px;
    outline: none;
}

.searchBtn {
    outline: transparent;
    flex: 0;
    background-color: transparent;
    border: none;
    margin-left: -30px;
    cursor: pointer;
}